<!DOCTYPE HTML>
<html>
<head>
    <title>Admin Panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/viewstyle.css" rel="stylesheet"/>
</head>
<body>
<div >
    <h3> Admin Panel </h3>
</div>  
<div class="div-data">
    <p><a href="/insertPainting">Insert a new painting </a></p>
    <p><a href="/insertArtist">Insert a new artist </a></p>
    <p><a href="/paintingCatalog">Painting Catalog </a></p>
    <p><a href="/artistCatalog">Artist Catalog </a></p>
</div>
</body>
</html>