<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form Artist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/viewstyle.css" rel="stylesheet"/>
</head>
<body>
<div >
    <h3> Inserisci Dati Nuovo Artista </h3>
</div>
<div >
    <h2 th:text="${artistsErr}">  </h2>
</div>
<div class="home">
		<a href="adminPanel"> <img src="img/home.png" width="50" height="50"/></a>
</div>
<div class="div-form">
	<form action="#" th:action="@{/insertArtist}" th:object="${artist}" method="post" enctype="multipart/form-data">
		<div>
			<div>
				 <div class="label"> <span th:text="#{label.firstName}">Name: </span> </div>
				<span> <input type="text" th:field="*{firstName}" /> </span> 
				<span th:if="${#fields.hasErrors('firstName')}" th:text="#{label.mandatory}">Error </span>
			</div>
			<div>
				 <div class="label"><span th:text="#{label.lastName}">Last name: </span></div>
				<span> <input type="text" th:field="*{lastName}" /> </span> 
				<span th:if="${#fields.hasErrors('lastName')}" th:text="#{label.mandatory}">Error </span>
			</div>
			<div>
				 <div class="label"><span th:text="#{label.nationality}">Nationality: </span> </div>
				<span> <input type="text" th:field="*{nationality}" /></span> 
				<span th:if="${#fields.hasErrors('nationality')}" th:text="#{label.mandatory}">Error </span>
			</div>
			<div>
				 <div class="label"><span th:text="#{label.birthDate}">Birth Date </span> </div>
				<span> <input type="text" th:field="*{birthDate}" /></span> 
				<span th:if="${#fields.hasErrors('birthDate')}" th:text="#{label.date}">Error </span>
			</div>
			<div>
				 <div class="label"><span th:text="#{label.deadDate}">Dead Date </span> </div>
				<span> <input type="text" th:field="*{deadDate}" /></span> 
				<span th:if="${#fields.hasErrors('deadDate')}" th:text="#{label.date}">Error </span>
			</div>
			<div>
				<div class="label"><span th:text="#{label.artistPicture}">Picture:</span></div>
				<span><input type="file" th:field="*{file}"/></span>
				<span th:if="${#fields.hasErrors('artistPicture')}" th:text="#{label.mandatory}">Errore</span>
			</div>
			<div class="div-button">
				<span><button type="submit">Submit </button> </span>
			</div>
		</div>
	</form>
</div>
</body>
</html>