<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form Update Painting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/viewstyle.css" rel="stylesheet"/> 
</head>
<body>
<div >
    <h3> Inserisci Dati Nuovo Artista </h3>
</div>  
<div class="home">
		<a href="adminPanel"> <img src="img/home.png" width="50" height="50"/></a>
</div>
<div class="div-form">
	<form action="#" th:action="@{/updatePainting}" th:object="${painting}" method="post">
		<div>
			<div>
			<input type="hidden" name="idPainting" th:value="${painting.id}" /> 
			</div>
			<div>
				 <div class="label"><span th:text="#{label.title}">Title: </span> </div>
				<span> <input type="text" th:field="*{title}" /> </span> 
				<span th:if="${#fields.hasErrors('title')}" th:text="#{label.mandatory}">Error </span>
			</div>
			<div>
				 <div class="label"><span th:text="#{label.year}">Year: </span></div>
				<span> <input type="text" th:field="*{year}" /> </span> 
				<span th:if="${#fields.hasErrors('year')}" th:text="#{label.number}">Error </span>
			</div>
			<div>
				 <div class="label"><span th:text="#{label.technique}">Technique: </span> </div>
				<span> <input type="text" th:field="*{technique}" /></span> 
				<span th:if="${#fields.hasErrors('technique')}" th:text="#{label.mandatory}">Error </span>
			</div>
			<div>
				 <div class="label"><span th:text="#{label.dimension}">Dimension: </span> </div>
				<span> <input type="text" th:field="*{dimension}" /></span> 
				<span th:if="${#fields.hasErrors('dimension')}" th:text="#{label.mandatory}">Error </span>
			</div>
			<div class="div-button">
				<span><button type="submit">Update </button> </span>
			</div>
		</div>
	</form>
</div>
</body>
</html>