<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form Painting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/viewstyle.css" rel="stylesheet"/>
</head>
<body>
<div >
    <h3> Inserisci Dati Nuovo Quadro </h3>
</div>  
<div class="home">
		<a href="adminPanel"> <img src="img/home.png" width="50" height="50"/></a>
</div>
<div class="div-form">
	<form action="#" th:action="@{/insertPainting}" th:object="${painting}" method="post" enctype="multipart/form-data">
		<div>
			<div>
				<div class="label"><span th:text="#{label.title}">Title: </span> </div>
				<span> <input type="text" th:field="*{title}" /> </span> 
				<span th:if="${#fields.hasErrors('title')}" th:text="#{label.mandatory}">Error </span>
			</div>
			<div>
				<div class="label"><span th:text="#{label.year}">Year: </span></div>
				<span> <input type="text" th:field="*{year}" /> </span> 
				<span th:if="${#fields.hasErrors('year')}" th:text="#{label.number}">Error </span>
			</div>
			<div>
				<div class="label"><span th:text="#{label.technique}">Technique: </span> </div>
				<span> <input type="text" th:field="*{technique}" /></span> 
				<span th:if="${#fields.hasErrors('technique')}" th:text="#{label.mandatory}">Error </span>
			</div>
			<div>
				<div class="label"><span th:text="#{label.dimension}">Dimension: </span> </div>
				<span> <input type="text" th:field="*{dimension}" /></span> 
				<span th:if="${#fields.hasErrors('dimension')}" th:text="#{label.mandatory}">Error </span>
			</div>
			<div>
				<div class="label"><span th:text="#{label.artist}">Artist: </span> </div>
				<select th:field="*{artist}">
					<option th:each="artist : ${artists}" th:value="${artist.id}" th:text="${artist.firstName} + ' ' + ${artist.lastName} "></option>					
				</select>
			</div>
			<div>
				<div class="label"><span th:text="#{label.paintingPicture}">Picture:</span></div>
				<span><input type="file" th:field="*{file}"/></span>
				<span th:if="${#fields.hasErrors('paintingPicture')}" th:text="#{label.mandatory}">Errore</span>
			</div>
			<div class="div-button">
				<span><button type="submit">Submit </button> </span>
			</div>
		</div>
	</form>
</div>
</body>
</html>