h2{
	color:red;
}


.div-form{
    border-radius: 5px;
    background-color: #f2f2f2;
}

.div-data{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

form{
    padding: 30px;
    align-content: center;
}

.label {
    padding: 7px;
    width: 100px;
    display: inline-block;
    clear: left;
    font-weight: bold;
}

.label-name {
    padding: 7px;
    width: 300px;
    display: inline-block;
    clear: left;
    font-weight: bold;
}

input{
    border: 1px solid #C6CFE2;
    background: #F7FBFE;
    padding: 3px;
    text-align: center;
    font-weight: bold;
    width: 15%;
}

li{
    padding: 5px;
    list-style:square;
}
.buttons{
    padding: 10px;
    display: inline-block;
}
input[value="Delete"]{
    width: 100px;
    font-weight: bold;
    background-color: #FF4C55;
}

input[value="Update"]{
    width: 100px;
    font-weight: bold;
    background-color: #3DA1FF;
}

input[value="View"]{
    width: 100px;
    font-weight: bold;
    background-color: #81FF54;
}

.div-button{
    padding-top: 15px;
}

button{
    border: 1px solid #C6CFE2;
    width: 100px;
    padding: 5px;
    background-color: #4CAF50;
}