<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Single Artist Page</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="css/main.css" />
</head>
<body>
	<div>
		<a href="/index"> <img class="logo" src="img/logo.png"
			alt="Asentus Logo" />
		</a>
	</div>
	<!-- Wrapper -->
	<div id="wrapper">
		<!-- Header -->
		<header id="header">
			<span class="avatar"><img th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(artist.artistPicture)}}" class="avatarimg" /></span>
			<div class="col">
				<p class="margin-b-5"><strong>FirstName : </strong><span th:text="${artist.firstName}" ></span></p>
				<p class="margin-b-5"><strong>LastName : </strong><span th:text="${artist.lastName}" ></span></p>
				<p class="margin-b-5"><strong>Nationality : </strong><span th:text="${artist.nationality}" ></span></p>
				<p class="margin-b-5"><strong>Birth Date : </strong><span th:text="${artist.birthDate}" ></span></p>
				<p class="margin-b-5"><strong>Dead Date : </strong><span th:text="${artist.deadDate}" ></span></p>
			</div>
		</header>
		<!-- Main -->
		<section id="main" class="section">
			<tr th:each="painting : ${artist.paintings}">
			<div class="thumbnails">
			<div class="image">
				<img th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(painting.paintingPicture)}}" width="300" height="200"/>
				<h3 th:text="${painting.getTitle()}"></h3>
			</div>
			</div>
			</tr>
		</section>

		<!-- Footer -->
		<footer id="footer">
			<p class="margin-b-0">
				New Art Gallery Theme Designed&amp;Developed by: <a
					class="fweight-700" href="http://www.elbombdeveloper.it/">elbombdeveloper</a>
			</p>
		</footer>
	</div>

	<!-- Scripts -->
	<script src="js/assets/jquery.min.js"></script>
	<script src="js/assets/jquery.poptrox.min.js"></script>
	<script src="js/assets/skel.min.js"></script>
	<script src="js/assets/main.js"></script>

</body>
</html>