<!DOCTYPE HTML>
<html>
	<head>
		<title>Single Artist Page</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper" >
				<!-- Header -->
					<header id="header">
						<span class="avatar"><img src="img/avatar.jpg" alt="" /></span>
						<div class="col">
                            <p class="margin-b-5"><strong> Name:</strong> js.getArtistName()</p>
                            <p class="margin-b-5"><strong> Surname:</strong> js.getSurname()</p>
                            <p class="margin-b-5"><strong> Nationality:</strong> js.getNationality()</p>
                            <p class="margin-b-5"><strong> Birth Date:</strong> js.getBirthDate()</p>
                            <p class="margin-b-5"><strong> Death:</strong> js.getDeathDate()</p>
                        </div>   
					</header>
				<!-- Main -->
					<section id="main" class="section">
						<!-- Thumbnails -->
							<section class="thumbnails">
								<div>
									<a href="img/800x400/01.jpg">
										<img src="img/thumbs/01.jpg" alt="" />
										<h3>Lorem ipsum dolor sit amet</h3>
									</a>
									<a href="img/800x400/02.jpg">
										<img src="img/thumbs/02.jpg" alt="" />
										<h3>Lorem ipsum dolor sit amet</h3>
									</a>
								</div>
								<div>
									<a href="img/800x400/03.jpg">
										<img src="img/thumbs/03.jpg" alt="" />
										<h3>Lorem ipsum dolor sit amet</h3>
									</a>
									<a href="img/800x400/04.jpg">
										<img src="img/thumbs/04.jpg" alt="" />
										<h3>Lorem ipsum dolor sit amet</h3>
									</a>
									<a href="img/800x400/05.jpg">
										<img src="img/thumbs/05.jpg" alt="" />
										<h3>Lorem ipsum dolor sit amet</h3>
									</a>
								</div>
								<div>
									<a href="img/800x400/06.jpg">
										<img src="img/thumbs/06.jpg" alt="" />
										<h3>Lorem ipsum dolor sit amet</h3>
									</a>
									<a href="img/800x400/07.jpg">
										<img src="img/thumbs/07.jpg" alt="" />
										<h3>Lorem ipsum dolor sit amet</h3>
									</a>
								</div>
							</section>
                        
					</section>
                
				<!-- Footer -->
					<footer id="footer">
                        <p class="margin-b-0"> New Art Gallery Theme Designed&amp;Developed by: <a class="fweight-700" href="http://www.elbombdeveloper.it/">elbombdeveloper</a></p>
					</footer>
			</div>
            
		<!-- Scripts -->
			<script src="js/assets/jquery.min.js"></script>
			<script src="js/assets/jquery.poptrox.min.js"></script>
			<script src="js/assets/skel.min.js"></script>
			<script src="js/assets/main.js"></script>

	</body>
</html>