<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Artist Catalog</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<ul>
			<tr th:each="artist  : ${artists}">
				<td><span th:text="${artist.firstName}+ ' ' + ${artist.lastName}"></span> 
				</td>

				<form action="#" th:action="@{/updateArtist}" method="get">
					<input type="hidden" name="idArtist" th:value="${artist.id}" /> 
					<input type="submit" name="submit" value="Update"> </input>
				</form>

				<form action="#" th:action="@{/deleteArtist}" method="post">
					<input type="hidden" name="idArtistD" th:value="${artist.id}" /> 
					<input type="submit" name="submit" value="Delete"> </input>
				</form>
			</tr>
		</ul>
	</div>
	<div class="home">
		<a href="/index.html"> Home</a>
	</div>
</body>
</html>