<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show Painting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/viewstyle.css" rel="stylesheet"> </link>
</head>
<body>
<div >
    <h3> Dati Quadro </h3>
</div>  
<div class="home">
		<a href="/index.html"> <img src="img/home.png" width="50" height="50"></img></a>
</div>
<div class="div-data">
	<div>
		<p th:text="'Title: ' + ${painting.title}" />
	</div>
	<div>
		<p th:text="'Year: ' + ${painting.year}" />
	</div>
	<div>
		<p th:text="'Technique: ' + ${painting.technique}" />
	</div>
	<div>
		<p th:text="'Dimension: ' + ${painting.dimension}" />
	</div>
</div>
</body>
</html>