<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show Painting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<p th:text="'Title: ' + ${painting.title}" />
	</div>
	<div>
		<p th:text="'Year: ' + ${painting.year}" />
	</div>
	<div>
		<p th:text="'Technique: ' + ${painting.technique}" />
	</div>
	<div>
		<p th:text="'Dimension: ' + ${painting.dimension}" />
	</div>
	<div class="home">
		<a href="/index.html"> Home</a>
	</div>
</body>
</html>